*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --container-padding:0 60px;
}
body{
    background: #000;
    color: #fff;
}
header{
    padding: var(--container-padding);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 30px;
}
nav ul{
    display: flex;
    list-style: none;
}
h2{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    width: max-content;
    line-height: 1;
}
h2::after{
    content: "";
    height: 1px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(to right,red,green,blue);
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
}
.nav a{
    padding: 0 30px;
    color: #fff;
}
.social a{
    padding: 0 9.5px;
}
.banner{
    display: flex;
    padding:var(--container-padding);
}
.banner .content{
    font-family: "Exo 2", sans-serif;
    padding: 160px 0 120px;
}
.banner h1{
    font-size: 80px;
    line-height: 70px;
    margin: 20px 0;
}
.banner p{
    font-size: 18px;
    line-height: 40px;
}
.banner button{
    background: #6F00A9;
    outline: none;
    border: none;
    color: #fff;
    padding: 15px 60px;
    font-family: "Orbitron", sans-serif;
    margin-top: 20px;
}

/*about section*/
.about{
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    padding: 120px 0;
}
.about h2{
    margin:0 auto 20px;
}
.about ul{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.about li{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-left: 60px;
}

.about ul li::after{
    content: "";
    height: 10px;
    border-radius: 50%;
    width: 10px;
    display: inline-block;
    background: linear-gradient(red,green,blue);
}
/*video section*/
.video{
    padding: var(--container-padding);
}
.videos{
    display: flex;
    gap: 40px;
}
.video video{
    height: 360px;
    width:360px;
    background: #fff;
}
.video h2{
margin-bottom: 120px;
}